<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/style.css">
    <script defer type="text/javascript" src="../static/script.js"></script>
    <title>cadastros</title>
</head>
<body>
<nav></nav>
<div id="form">
    <label>Arthur</label><br>
    <input class="geral" type="email" placeholder="usuario"><br>
    <input class="geral" type="password" placeholder="senha"><br>
    <button  class="login_submit">Login</button>
    <a class="geral" href="./signup"
    <input type="url" >Inscreva-se</a>
</div>
<footer></footer>
</body>
</html>